<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"></link>
	<Script language="javascript">
		function goUpdate(){
			var frm =document.theForm;
			document.getElementById("method").value = "put";
			frm.action = "/board/updateBoard.do";
			frm.submit();
		}	
		
		function goDelete(){
			var frm =document.theForm;
			document.getElementById("method").value = "delete";
			frm.action = "/board/deleteBoard.do";
			frm.submit();
		}	
	</Script>
</head>
<body>
	<div class="container">
		<h2>게시판 상세</h2>
		<form name="theForm" method="post">
		<input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}"/>
		<input type="hidden" id="method" name="_method"/>
		<table class="board_detail">
			<colgroup>
				<col width="25%"/>
				<col width="25%"/>
				<col width="25%"/>
				<col width="25%"/>
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">글 번호</th>
					<td th:text="${board.boardIdx}"></td>
					<th scope="row">조회수</th>
					<td th:text="${board.hitCnt}"></td>
				</tr>
				<tr>
					<th scope="row">작성자</th>
					<td th:text="${board.creatorId}"></td>
					<th scope="row">작성일</th>
					<td th:text="${board.createdDatetime}"></td>
				</tr>
				<tr>
					<th scope="row">제목</th>
					<td colspan="3">
						<input type="text" id="title" name="title" th:value="${board.title}"/>
						
					</td>
				</tr>
				<tr>
					<td colspan="4" class="view_text">
						<textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
								
					</td>
				</tr>
				
			</tbody>
		</table>
		</form>
		
		<div class="file_List">
			<a th:each="list : ${board.fileList}" th:href="@{/board/(idx=${list.idx},boardIdx=${board.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb)|"></a>
		</div>
​



		<a href="/board/openBoardList.do" style="btn">목록으로</a>
		<a href="javascript: goUpdate();" style="btn">수정하기</a>
		<a href="javascript: goDelete();" style="btn">삭제하기</a>
	</div>

</body>
</html>